[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
rope = "*"

[packages]
pyzbar = "*"
opencv-python = "*"
pillow = "*"
python-vlc = "*"
requests = "*"
python-barcode = "*"
mutagen = "*"
pyacoustid = "*"
audioread = "*"
easygui = "*"
fleep = "*"
pyinstaller = "*"
jsonschema = "*"

[requires]
python_version = "3.7"
